<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Subscribe NewsLetters</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/common-modules")

    @Scripts.Render("~/bundles/common-directives")

    @Scripts.Render("~/bundles/account-services")
    @Scripts.Render("~/bundles/home-modules")
    @Scripts.Render("~/bundles/home-services")

    @Scripts.Render("~/bundles/home-controllers")
    @Scripts.Render("~/bundles/account-controllers")

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Developed by Makrand Vichare</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
